<div horizontal layout ng-show="asset">
	<div flex class="align-center" ng-repeat="day in range(startDay, endDay)" ng-hide="asset.hide_weekend && moment().dayOfYear(day).day()%6==0">
		<span class="day-heading">{{moment().dayOfYear(day).format('ddd DD')}}</span>
		<div class="align-center booking-slot" ng-class="{'panel-success': slot && !bookings[day][hour]}" ng-repeat="(hour, slot) in schedule[moment().dayOfYear(day).day()] track by $index" ng-if="hour > asset.hide_hour_before && hour < asset.hide_hour_after">
			<input type="checkbox" id="{{ day }}:{{ hour }}" ng-change="doBooking(day, hour)" ng-disabled="!slot || bookings[day][hour]" ng-model="bookings[day][hour]">
			<label for="{{ day }}:{{ hour }}">
				{{hourToMinutes(hour).format('h:mm A')}}
				<!-- <span ng-if="slot">Booked</span>
				<span ng-if="!slot">Available</span> -->
			</label>
			
		</div>
	</div>
</div>