<unl-toolbar>
  <a ng-click="go('/{{groupId}}/asset/{{assetId}}', 'animate-slide-left')" title="Back to Asset"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
  <span flex class="align-center">{{ asset.title || 'Loading' }}</span>
</unl-toolbar>
<div class="content-container">
	<form name="assetSettingsForm">
		<unl-list-group>
			<unl-list-item-header>General</unl-list-item-header>
			<unl-list-item-details heading="Title">
				<div class="tools">
					<input type="text" ng-model="asset.title">
				</div>
			</unl-list-item-details>
			<unl-list-item-details heading="Time Slot Size" details="In Minutes">
				<div class="tools">
					<input type="number" step="15" min="15" ng-model="asset.slot_size">
				</div>
			</unl-list-item-details>
			<unl-list-item-details heading="Maximum Booking Length" details="In Minutes">
				<div class="tools">
					<input type="number" step="15" min="{{asset.slot_size}}" ng-model="asset.max_booking_length">
				</div>
			</unl-list-item-details>
			<unl-list-item-details heading="Openings Per Time Slot" details="The number of times a slot can be reserved">
				<div class="tools">
					<input type="number" ng-model="asset.units">
				</div>
			</unl-list-item-details>
			<unl-list-item-header>Display</unl-list-item-header>
			<unl-list-item-details heading="Weekends">
				<div class="tools">
					<unl-toggle-button id="weekends" value="{{asset.weekend}}" bind-polymer></unl-toggle-button>
				</div>
			</unl-list-item-details>
			<unl-list-item-details heading="Hide Time Slots Before">
				<div class="tools">
					<input type="text" ui-mask="99:99 AA" ng-model="asset.hide_hour_before">
				</div>
			</unl-list-item-details>
			<unl-list-item-details heading="Hide Time Slots After">
				<div class="tools">
					<input type="text" ui-mask="99:99 AA" ng-model="asset.hide_hour_after">
				</div>
			</unl-list-item-details>
		</unl-list-group>
		<button type="button" ng-click="confirmRemoveAsset()" class="button-error">Delete Asset</button>
	</form>
</div>
<!-- Modals -->
<div id="modal-asset-remove" hidden ng-include src="'views/partials/modal-remove-asset.html'"></div>