<unl-toolbar>
  <unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
  <a ng-click="go('/{{groupId}}', 'animate-slide-left')" title="Back to Assets"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
  <span flex class="align-center">{{ asset.title || 'Loading' }}</span>
  <a ng-click="go('/{{groupId}}/asset/{{asset.$id}}/settings')" title="Settings"><unl-icon-button icon="settings"></unl-icon-button></a>
</unl-toolbar>

<div class="content-container">
	<booking-calendar slot-size="{{asset.slot_size}}"></booking-calendar>
</div>