<unl-toolbar>
  	<unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
	<a ng-click="go('/', 'animate-slide-left')" title="Back to Assets"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
  	<span flex class="align-center">Compare Assets</span>
</unl-toolbar>
<div class="content-container">
  <unl-list-group>
    <unl-list-item-details ng-repeat="asset in assets | orderBy:'title'" heading="{{asset.title}}" link>
      <a ng-click="addAsset(asset.$id)"><paper-ripple fit></paper-ripple></a>
    </unl-list-item-details>
    <unl-list-item>
    	<input type="text" ng-model="asset_list" ng-blur="compareAssets()" placeholder="Asset IDs">
    </unl-list-item>
  </unl-list-group>
  <booking-calendar ng-show="asset_list.length > 0" asset="asset" type="compare" bookings="bookings" schedule="schedule" on-change="addBooking"></booking-calendar>
</div>